body {
  background-image: url('resources/woodTable.jpg');
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif
}
.wrapper {
  width: 400px;
  margin: 20px auto;
}
.title {
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
}
ul#adventDoors {
	position: relative;
	list-style: none;
	padding: 0;
	margin: 0;
}
#adventDoors li {
	position: absolute;
}
#adventDoors li a {
	color: #fff;
	width: 100%;
	height: 100%;
	font-size: 24px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-decoration: none;
	border: 1px #fff solid;
}
#adventDoors li a:not(.disabled):hover {
	color: #fff;
	background-color: transparent;
	background-color: rgba(255,255,255,0.15);
}
#adventDoors li a.disabled {
	border-color: #b6fe98;
	background-color: rgba(196,254,171,0.15);
	color: #b6fe98;
	cursor: default;
}

.row {
	position: fixed;
	display: grid;
  	grid-template-columns: 1fr 1fr;
}

.card {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-height: 100%;
	max-width: 80%;
	border-radius: 12px;
	padding-left: 1%;
	padding-right: 1%;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	text-align: center;
}

.cardCouple {
	transform: translate(10%, -100%);
	max-height: 100%;
	max-width: 80%;
	border-radius: 12px;
	padding-left: 1%;
	padding-right: 1%;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	text-align: center;
}

.picture {
	position: relative;
	max-width: 40%;
	margin-top: 3%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#name {
	color: #006699;
}

#close{
	position: absolute;
	right: 2%;
}

#message{
	color: #006699;
}

#naipe{
	position:relative;
	max-width: 10%;
	top: 10px;
}